#title {
	width: 75%;
	height: 15%;
	background: #ff7373;
	text-align: center;
	margin-left: 12%;
}

h1 {
	font-size: 70px;
	font-family: "Chewy", cursive;
}

p {
	text-align: center;
	width: 100%;
	font-size: 40px;
}

h2 {
	text-align: center;
	border-style: solid;
	border-width: 3px;
	border-color: #7eff7e;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	font-family: "Sanchez", serif;

}

html {
	background: #7eff7e;
}
